@font-face {
  font-family: 'Minecraft Ten';
  src: url('../shared/fonts/Minecraft Ten font cyrillic/minecraft-ten-font-cyrillic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 